In [4]:
t1 = 1,2
t2 = 3,4
print(id(t1))
print(id(t2))
print(t1+t2)
print(id(t1+t2))#元组相加生产新的元组

1782721636608
1782721042176
(1, 2, 3, 4)
1782716642864

In [8]:
t = (1,2,[1,2])
print(id(t))
t[2].append([3,4])#列表中添加，未生成新的内存
print(id(t))

1782721623808
1782721623808

In [21]:
lax_coordinates = (33.9425,-118.408056)
city,year,pop,chg,area = ('Tokyo', 2003, 32450, 0.66, 8014)#拆包
city,*aaa,area = ('Tokyo', 2003, 32450, 0.66, 8014)
traveler_ids = [("USA","31195855"),("BRA","CE342567"),("ESP","XDA205856")]
for passport in sorted(traveler_ids):
    print("%s/%s" % passport)#/：拆包，拆为两个
    
for country, _ in traveler_ids:
    print(country)
print(aaa)#列表

BRA/CE342567
ESP/XDA205856
USA/31195855
USA
BRA
ESP
[2003, 32450, 0.66]

In [4]:
#使用具名元组
from collections import namedtuple

In [5]:
Card = namedtuple("Card", ["rank", "suit"])

In [7]:
City = namedtuple('City', 'name country population coordinates')
tokyo = City('Tokyo', 'JP', 36.933, (35.689722, 139.691667))
tokyo

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))

In [8]:
tokyo[2]

36.933

In [9]:
tokyo.population

36.933

In [10]:
City._fields

('name', 'country', 'population', 'coordinates')

In [12]:
LatLong = namedtuple('LatLong', 'lat long')
delhi_data = ('Delhi NCR', 'IN', 21.935, LatLong(28.613889, 77.208889))
delhi = City._make(delhi_data)#为City中的名字分别赋值
delhi._asdict()#输出为字典形式

{'name': 'Delhi NCR',
 'country': 'IN',
 'population': 21.935,
 'coordinates': LatLong(lat=28.613889, long=77.208889)}

In [13]:
for key, value in delhi._asdict().items():
    print(key + ':',value)

name: Delhi NCR
country: IN
population: 21.935
coordinates: LatLong(lat=28.613889, long=77.208889)

In [15]:
board = [['_'] * 3 for i in range(3)]
board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [ ]:
#不要把可变对象放到元组里
#增量赋值不是一个原子操作。
#查看Python的字节码并不难，而且对我们了解代码背后的运作机制很有帮助

In [16]:
t = (1, 2, [30, 40])
t[2] += [50, 60]
t

TypeError: 'tuple' object does not support item assignment

In [20]:
t#仍然被改变了

(1, 2, [30, 40, 50, 60])

In [21]:
import dis #字节码

In [22]:
dis.dis('s[a] += b')

  1           0 LOAD_NAME                0 (s)
              2 LOAD_NAME                1 (a)
              4 DUP_TOP_TWO
              6 BINARY_SUBSCR
              8 LOAD_NAME                2 (b)
             10 INPLACE_ADD
             12 ROT_THREE
             14 STORE_SUBSCR
             16 LOAD_CONST               0 (None)
             18 RETURN_VALUE

In [23]:
"""
sorted(list)
新建一个列表作为返回值，可以接收任何形式的可迭代对象，并返回列表
参数：reverse和key
reverse = True ：降序。 默认为False
key：一个只有一个参数的函数，这个函数会被用在序列里的每一个元素上，所产生的结果将是排序
算法依赖的对比关键字。比如说，在对一些字符串排序时，可以用key=str.lower 来实现忽略大小写
的排序，或者是用key=len 进行基于字符串长度的排序。这个参数的默认值是恒等函数（identity function）
，也就是默认用元素自己的值来排序。
可选参数key 还可以在内置函数min() 和max() 中起作用。另外，还有些标准
库里的函数也接受这个参数，像itertools.groupby() 和heapq.nlargest() 等。
"""

'sorted(list)\n新建一个列表作为返回值，可以接收任何形式的可迭代对象，并返回列表\n参数：reverse和key\nreverse = True ：降序。 默认为False\nkey：一个只有一个参数的函数，这个函数会被用在序列里的每一个元素上，所产生的结果将是排序\n算法依赖的对比关键字。比如说，在对一些字符串排序时，可以用key=str.lower 来实现忽略大小写\n的排序，或者是用key=len 进行基于字符串长度的排序。这个参数的默认值是恒等函数（identity function）\n，也就是默认用元素自己的值来排序。'

In [24]:
"""
list.sort()改变原有列表，不返回新列表

"""

'\nlist.sort()改变原有列表，不返回新列表\n\n'

In [26]:
#array比list处理数据更快
from array import array
from random import random
floats = array('d', (random() for i in range(10**7)))
floats[-1]
fp = open('floats.bin', 'wb')
floats.tofile(fp)
fp.close()